@import '../../scss/variables';

.button {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  text-align: center;
  &_PrimaryVariant {
    background-color: var(--PrimaryColor);
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  &_OutlineVariant {
    background-color: var(--ButtonOutlineColor);
    border: 1px solid #969696;
  }
}
