:root {
  --primaryColor: #72a479;
  --rippleColor: #2c412f;
  --buttonOutlineColor: #625d5c;
  --secondaryColor: #969696;
  --successColor: #3fb950;
  --warningColor: #fe9600;
  --errorColor: #da3633;
  --textColor: #ffffff;
  --textColorGray: #cfcfcf;
}
